body {
	margin: 0;
	font-family: 'Crimson Text', serif;
	background-color: #D6DAF0;
	color: black;
	font-size: 25px;
}

h1 {
	text-align: center;
	margin: auto;
	font-size: 40px;
	color: #4f5252;
}

nav ul li {
	margin: 0 auto;
	list-style: none;
	display: inline-block;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

blockquote {
    border-left: 4px solid #4f5252;
    padding: 0 15px;
    color: var(--font-color);
}
blockquote blockquote {
    padding-right: 0;
}

.banners {
	margin-top: 45px;
}

