body {
	margin: 0;
	font-family: 'Crimson Text', serif;;
	background-color: #EEF2FF;
	color: black;
	font-size: 22px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #D6DAF0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


/* The navigation menu links */
.sidenav a {
  padding: 6px 4px 5px 19.9px;
  text-indent: 27px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

.sidenav-link-active {
    background-color: #EEF2FF!important;
}

#AgeOfDecadence {
	flex-wrap: wrap;
	flex: 200px;
}

.text {
	padding-left: 340px;
	width: 600px;
	position: relative;
	font-size: 17.5px;
}

ul li {
	display: inline-block;
}

a {
	
	color: black;
}

.border {
	border-left: 50px solid;
}

.banners {
	padding-top: 45px;
	padding-left: 20px;
}

.test {
  height: 100%; 
  width: 290px; 
  top: 0; 
  right: 0;
  background-color: #D6DAF0;
  padding-top: 20px;
  position: fixed;
}

.pillarspicture {
	position: relative;
	left: 650px;
	top: 350px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.agepicture {
	position: relative;
	left: 640px;
	top: 250px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.arcanumpicture {
	position: relative;
	left: 650px;
	top: 300px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.baldur1picture {
	position: relative;
	left: 640px;
	top: 330px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.divinitypicture {
	position: relative;
	left: 640px;
	top: 330px;
	margin-top: -570px;
	border: #D6DAF0 solid 4px;
}

.icewindpicture {
	position: relative;
	left: 660px;
	top: 340px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.chalicepicture {
	position: relative;
	left: 640px;
	top: 190px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.nwn2picture {
	position: relative;
	left: 650px;
	top: 330px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.kingmakerpicture {
	position: relative;
	left: 650px;
	top: 340px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.realmspicture {
	position: relative;
	left: 640px;
	top: 190px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.solastapicture {
	position: relative;
	left: 640px;
	top: 200px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.kotorpicture {
	position: relative;
	left: 660px;
	top: 350px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.templepicture {
	position: relative;
	left: 640px;
	top: 350px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.underrailpicture {
	position: relative;
	left: 650px;
	top: 320px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.bloodlinespicture {
	position: relative;
	left: 640px;
	top: 350px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}

.wastelandpicture {
	position: relative;
	left: 640px;
	top: 300px;
	margin-top: -550px;
	border: #D6DAF0 solid 4px;
}
