body {
	margin: 0;
	font-family: calibri;
	color: #EEF2FF;
	background-color: #EEF2FF;
}
header {
	background: #D6DAF0;
	color: black;
}

header img {
	align-items: center;
}

header h1 {
	text-align: center;
	margin: auto;
	font-size: 50px;
}

nav ul {
	margin: auto;
	display: inline;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 305px;
	font-size: 28px;
}

footer {
	margin: 0px 0px 0px 340px;
}

p {
	color: black;
}

footer a {
	color: black;
}

.Github {
	color: black;
	margin: center;
}